@media (max-width: 990px) {
  .button{
    font-size: 12px;
  }
    header {
      height: 35px;
    }
    nav p {
      font-size: 1.2vw;
      letter-spacing: 2px;
    }
    #divName {
      margin: 30vh auto 0 auto;
    }
    #divName h1 {
      font-size: 8vw;
    }
    #divName h2 {
      font-size: 6vw;
    }
    #divName h3 {
      font-size: 4vw;
    }
    #goToPortfolio {
      margin-top: 40px;
    }
    #projects_container {
      grid-template-columns: 450px;
      width:auto
    }

    .project_card {
      min-width: 100%;
    }
  .project_card h3 {
 font-size: 16px;
  }
  .project_card p {
    font-size: 12px;}

    #contact_container {
      width: 60%;
    }
    .form__item {
      font-size: 3vw;
    }
    #contact_form__status {
      font-size: 12px;
    }
  }
@media (max-width: 720px){
  nav p {
    font-size: 1.4vw;
    letter-spacing: 1px;
  }
  #projects_container {
    grid-template-columns: 100%;
    width:100%
  }
  #project_detail__content{
    width: 100%;
  }
  .project_img{
    width: 100%;
  }
  #about_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 5%;
  }
  .about__image {
    margin: auto;
    max-width: 50%;
  }
  .about__text {
    margin: 20px 5% 40px 5%;
    font-size: 3vw;
  }
  .button__resume {
    margin-top: 20px;
    position: inherit;
  }
  #divAbout{
    height: unset;
  }
}
@media (max-width: 510px){

  .nav-link{
    padding-top: 50px;
    border-left: 1px solid white;
    height: 100vh;
    width: 35%;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    right: -1px;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
   
    background-color: #333
  }
  nav p{
    font-size: 14px;
    margin: 0 auto;
  }
  .burguer{
    display: block;
  }
  .nav-active{
    transform: translateX(0%);
      }
      .burguer-active #line1{
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .burguer-active #line2{
        opacity: 0;
      }
      .burguer-active #line3{
        transform: rotate(45deg) translate(-5px, -6px);
      }
      
}